 <mat-grid-list cols="2" rowHeight="700px" [ngStyle]="{'background-color': 'lightblue'}">
   <mat-grid-tile [style.background]="lightblue" [colspan]="1" [rowspan]="1">
     <mat-card>
       <h3> Recipient Lists</h3>
       <mat-list>
         <mat-list-item *ngFor="let list of recipientLists; let i = index">
           <mat-checkbox labelPosition="before" [(ngModel)]="checkboxsList[i]" (change)="checkList($event, i, list)">
             {{list.name}}</mat-checkbox>
         </mat-list-item>
       </mat-list>
       <h3> Search Recipients</h3>
       <form class="search-form">
         <mat-form-field class="search-full-width">
           <input type="text" placeholder="Search company/e-mail" aria-label="Search company/e-mail" matInput
             [formControl]="searchRecipientsControl" [matAutocomplete]="auto">
           <mat-icon matSuffix (click)="addRecipient()">{{hideAdd ? 'add' : ''}}</mat-icon>
           <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
             (optionSelected)="onSelectionChanged($event)">
             <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
               {{!!option.name ? option.name : option}}
             </mat-option>
           </mat-autocomplete>
         </mat-form-field>
       </form>
     </mat-card>
   </mat-grid-tile>
   <mat-divider [vertical]="true"></mat-divider>

   <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightblue">
     <mat-card>
       <h3> Selected Recipients ( {{arrayLength(selectedEmails) + selectedCompanies?.length || '0'}} )</h3>
       <h4> Companies</h4>
       <mat-list>
         <mat-list-item *ngFor="let company of selectedCompanies">
           {{company.name}}
           <mat-icon (click)="removeSelected(company.id,'company')">close</mat-icon>
           <mat-divider></mat-divider>
         </mat-list-item>
       </mat-list>

       <h4> E-mails</h4>
       <ng-container *ngFor="let domain of selectedEmails">

         <mat-accordion *ngIf="domain.emails.length > 1">
           <mat-expansion-panel [expanded]="true">
             <mat-expansion-panel-header>
               <mat-panel-title [ngStyle]="{'font-size': '16px','font-weight': '600'}">
                 {{domain.domain}}
                 <mat-icon (click)="removeAllSelected(domain.domain)">close</mat-icon>
               </mat-panel-title>
             </mat-expansion-panel-header>
             <ng-container *ngFor="let email of domain.emails">
               <mat-list-item>
                 {{email.name}}
                 <mat-icon (click)='removeSelected(email.name, "email")'>close</mat-icon>
               </mat-list-item>
             </ng-container>
           </mat-expansion-panel>
         </mat-accordion>

         <ng-container *ngIf="domain.emails.length === 1">

           <mat-list-item *ngFor="let email of domain.emails">
             {{email.name}}
             <mat-icon (click)='removeSelected(email.name, "email")'>close</mat-icon>
           </mat-list-item>
         </ng-container>


       </ng-container>

     </mat-card>
   </mat-grid-tile>
 </mat-grid-list>
