.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}


::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: lightblue;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: rgb(116, 184, 207) !important;
}


mat-icon {
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
}

mat-expansion-panel {
  margin-bottom: 10px !important;

}

::ng-deep .mat-list-item-content {

  margin-left: 10px !important;
}
